[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
bs4 = "*"
django-axes = "*"
django-ratelimit = "*"
django-simple-captcha = "*"

[dev-packages]

[requires]
python_version = "3.11"
